/* color.css : 테마 및 컬러 */

$color-main: #2f65cb;
$color-bg: #f7f9fc;

//$color-red: #AC1E24;
//$color-blue: #151568;
//$color-purple: #742887;
$color-gray: #9FA0A0;
//
$text-black: #444;
$text-gray: #9e9e9e;
$text-lightblue: #cfdff7;
//$text-darkGray: #555;
