/* variables.css : Breakpoints */

$breakpoint-mobile-old: 320px;
$breakpoint-mobile: 480px;
$breakpoint-tablet-port: 768px;
$breakpoint-tablet-land: 1024px;
$breakpoint-laptop: 1280px;
$breakpoint-desktop: 1440px;
